
@model SystemProducts.Models.PRODUCTOS

@{
    ViewBag.Title = "Eliminar Producto";
}

<h2 class="text-danger"><i class="fa fa-trash"></i> Eliminar Producto</h2>
<p class="lead">¿Estás seguro de que deseas eliminar este producto?</p>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Imagen" class="img-thumbnail" alt="@Model.Nombre" style="max-width: 100%;">
        </div>
        <div class="col-md-6">
            <h3>@Model.Nombre</h3>
            <p><strong>Precio:</strong> $@Model.Precio.ToString("N2")</p>
            <p><strong>Stock Disponible:</strong> @Model.Stock</p>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Productos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IDProducto)

        <div class="mt-4">
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
            <a href="@Url.Action("Index", "Productos")" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Cancelar</a>
        </div>
    }
</div>
