@model List<SystemProducts.Models.PRODUCTOS>

@{
    ViewBag.Title = "Productos";
}

<h2 class="text-primary"><i class="fa fa-box"></i> Gestión de Productos</h2>

<p>
    <a href="@Url.Action("Create", "Productos")" class="btn btn-success">
        <i class="fa fa-plus"></i> Agregar Producto
    </a>
</p>

<table id="tableProducts" class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.CATEGORIAS_PRODUCTOS.NombreCategoria</td>
                <td>$@item.Precio.ToString("N2")</td>
                <td>@item.Stock</td>
                <td>
                    <a href="@Url.Action("Edit", "Productos", new { id = item.IDProducto })" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                    <a href="@Url.Action("Details", "Productos", new { id = item.IDProducto })" class="btn btn-info btn-sm">
                        <i class="fa fa-eye"></i> Detalles
                    </a>
                    <a href="@Url.Action("Delete", "Productos", new { id = item.IDProducto })" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Mostrar alerta de éxito
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            Swal.fire({
                title: "Éxito",
                text: successMessage,
                icon: "success",
                confirmButtonText: "OK"
            });
        }

        // Mostrar alerta de error
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            Swal.fire({
                title: "Error",
                text: errorMessage,
                icon: "error",
                confirmButtonText: "OK"
            });
        }
    });
</script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
                }
            });
        });
    </script>
}
